*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-family:'Courier New', Courier, monospace;
    scroll-behavior: smooth;
}
body{
    /* background: url('./bgr.png'); */
    /* height: 100vh; */
    min-height:100vh;
    background-color: black;
    background: url('./Screenshot\ 2023-09-07\ 202450.png') no-repeat;
    background-size: cover ;
   background-position: center;
}
.main{
    
    background:transparent;
    backdrop-filter: blur(15px);
    width: 395px;
    height: 430px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.main .header{
    border-radius: 5px 5px 0 0 ;
    height: 76px;
    width: 101%;
    background:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
    transform: translateY(-1px) translateX(-1px);

}
.form{
    padding: 20px 30px;
}


.icon{
   font-size: 20px;
   border-radius: 5px 0 0 5px;
   color: white;
   position: absolute;
   right: 80px;
   transform: translateY(48%);
}

.form div{
    margin-top: 30px;
    margin-left: 15px;

}
.form-ip{
    height: 43px;
    outline: none;
    border: 1px solid gray;
    border-radius:40px;
    border: 2px solid rgba(255, 255, 255, .2);
 

}
input{
    padding-left: 20px;
    background: transparent;
    color: #fff;
}
.form-ip::placeholder{
    color: #fff;
}

label{
    margin-left: 150px;
    position: relative;
    top:15px;
}
 a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    text-decoration: underline;
}
.btn{
    margin-top:10px;
    margin-left: 30px;
    width: 332px;
    height: 40px;
    border-radius: 40px;
    outline: none;
    border:none;
    background:#fff;
    color:black;
    font-weight: bold;
    font-size: 20px;
}
p{
   margin-top: 15px;
   margin-left: 110px;
}
.text-f{
    font-size: 16px;
    transform: translateX(-5%);
}
@media screen and ( max-width:46.1875em){
    .form input{
         max-height:30px;
        padding: 10px;
        font-size: 14px;
    }
    .main{
        max-width: 400px;
    }
    .form input{
        width: 100%;
        height: 10px;
        margin: 10px 0;
        margin-top: 5px;
        padding:15px;
    }
    
    .main .btn{
        max-height: 30px;
        max-width: 330px;
        margin-left: 4.5%;
        margin-top:15px;
    }
    .main.header{
        font-size: 30px;
    }
    .form i{
        position: absolute;
        right: 80px;
        transform: translateY(100%);
        font-size: 15px;
       /* transform: translateX(2px); */
    }
    .main  .btn{ 
        margin-left: 30px;
    }
}
@media screen and ( max-width:447px){
    .main{
        max-width: 300px;
    }
    .main  .btn{
        max-height: 20px;
        max-width: 200px;
        margin-top:15px;
    }
    .main .i{
        transform: translateY(40%);
    }
    .main .form label {
        font-size: 10px ;
        width: 40px;
        margin-left: 20px;
        padding: 10px;
    }
    .main .btn{
        margin-left: 55px;
        font-size: 16px;
    }
}

